@import '/src/styles/_mixins.scss';

.form {
  &__input {
    width: 100px !important;
    font-family: 'Roboto Mono', monospace;

    @include onTablet {
      width: 200px !important;
    }
  }
}

.wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}