@import './_mixins.scss';
@import './_variables';

.button {
  display: block;
  background-color: #C9D6DF !important;
  border-radius: .5rem;
  box-sizing: border-box;
  color: $f-main !important;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 12px !important;
  width: 120px;
  word-break: break-word;

  transition: transform 0.1s;

  @include onTablet {
    font-size: 15px !important;
    width: 140px;
  }
  
  &:active {
    transform: scale(0.9);
  }

  &:focus {
    box-shadow: none !important;
    border-color: transparent !important;
  }
}