@import '../../styles/mixins';
@import '../../styles/_variables';

.card {
  padding: $pad-c;
  background-color: #fff;
  box-shadow: $shadow-main;
  min-width: 220px;
  max-width: 320px;
  border-radius: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__text {
    margin-left: 0.5rem;
    color: $f-main;
    font-size: 18px;
  }

  &__arrow {
    margin-left: 0.5rem;
    font-weight: 600;
    display: flex;
  
    &--incomes {
      color: $c-income;
    }
  
    &--expences {
      color: $c-expence;
      transform: rotate(180deg);
    }
  }

  &__icon {
    position: relative;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;

    &--incomes {
      background-color: $c-income;
    }

    &--expences {
      background-color: $c-expence;
    }
  
    &--dollar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      height: 1rem;
    }
  }

  &__cross {
    cursor: pointer;
    transform: rotate(45deg);
    color: $f-main;
    transition: 0.2s;
    font-weight: 300;

    &:hover {
      font-weight: 500;
    }
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__amount {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: inherit;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
  }
}
