@import '../../styles/mixins';
@import '../../styles/variables';

.item {
  color: $f-main;
  max-width: 300px;
  min-width: 130px;
  transition: transform 0.2s ease-in-out; 
  border-bottom: 2px solid rgb(209,213,219);
  border-top: 2px solid rgb(209,213,219);

  background-color: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;

  @include onTablet {
    border: 1px solid rgb(209,213,219);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  &__incomes {
    border-radius: 4px;
  }

  &__expences {
    border-radius: 4px;
  }

  &:hover {
    transform: translateY(-10px);
    position: relative;
    overflow: hidden;
  }

  &__header {
    font-weight: 900;

    &-expences {
      color: $f-main;
      font-weight: 700;
    }

    &-incomes {
      color: $f-main;
      font-weight: 700;
    }
  }

  &__subheader {
    align-self: flex-start;
    text-transform: uppercase;
    font-weight: 700;

    &--expences {
      padding: 5px;
      background-color: #FFA8A8;
      border: 1px solid #FF8080;
      border-radius: 4px;
      color: $f-main;
      font-weight: 700;
    }

    &--incomes {
      padding: 5px;
      background-color: #B6FFCE;
      border: 1px solid #97DBAE;
      border-radius: 4px;
      color: $f-main;
      font-weight: 700;
    }
  }

  &__content {
    padding-bottom: 20px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
}
